@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  outline: none;
  border: none;
}

a {
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1170px) {
  .container {
    padding: 0 30px;
  }
}

button {
  cursor: pointer;
}